<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                       @Html.ActionLink("About", "About", "Home")
                    </li>
                    
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        @Html.ActionLink("Contact", "Contact", "Home")
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; My Company @DateTime.Now.Year. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
