<?xml version="1.0"?>
<appSettings>
  <add key="sendGridAccount" value=""/>
  <add key="sendGridPassword" value=""/>
  <add key="twilioAccount" value=""/>
  <add key="twilioAuthToken" value=""/>
  <add key="twitterConsumerKey" value=""/>
  <add key="twitterConsumerSecret" value=""/>
  <add key="facebookAppId" value=""/>
  <add key="facebookAppSecret" value=""/>
  <add key="googleClientId" value=""/>
  <add key="googleClientSecret" value=""/>
  <add key="smsFromPhone" value="" />
  <add key="mailFromAddress" value="" />
  <add key="mailFromDisplay" value="" />
</appSettings>
